.h-5{
  height:2.5rem;
}

.search-suffix{
  padding-left:1.5rem;
  padding-right:1.5rem;
  background-color:#f8f8f8;
}

/* .header-container{
  padding-top: 10px !important; 
  padding-bottom: 10px !important;  
  display:flex !important; 
  justify-content:space-between !important; 
  align-items: center !important; 
} */

.header-container{ 
  display:flex !important; 
  justify-content:space-between !important; 
  align-items: center !important; 
  max-width: 1280px !important;
  margin:0 auto !important;
  padding-top:"10px" !important;
  padding-bottom:"10px" !important;
}

/* style={{"max-width":"1280px","margin":"0 auto", backgroundColor: "white","padding-top":"10px","padding":"10px" }} */